body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.header {
    background-image: url(bg1.jpg);
    background-size: cover;
    height: 100vh;
} 
.nav-item{
    color: #fff;
    text-decoration: none;
    margin-right: 80px;
    font-size: 38px;
}
.nav-item:last-child{
    margin-right: 0;
}
.nav-item:hover{
    color: #bc1717
}
.nav{
    display: flex;
    justify-content: center;
    padding-top: 34px;   
}
.title{
    color: white;
    font-size: 80px;
    width: 1114px;
    text-align:center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 146px;
}
.subtitle{
    color:#fff;
    font-size:48px;
    font-weight: 900;
    text-align:center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    width: 514px;
    line-height: 44px;
}
.input{
    width: 447px;
    height: 64px;
    font-size: 24px;
    outline: none;
    border: 4px solid grey;
    border-radius: 20px;
    padding-left: 15px;
}
.forma{
    text-align: center;
    margin-top: 20px;
}
.btn{
    background-color: #5B89CE;
    padding: 15px 18px;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    border: 2px  solid #476443;
    border-radius:  25px;
}
.button{
    text-align: center;
    margin-top: 25px;
}
.btn:hover{
    background-color: darkblue;
}
